{
  "ignore":
   [
    "**/__assets__"
  ],
    "presets": [
        ["@babel/preset-env",{
            "targets": {
              "node": "current"
            }
          }]
        
    ]
}