<style type="text/css"> 

body{
			color: rgb(11,68,99);
		}
.form-control {
    border: none;
    border-bottom: 1px solid;
}
    
</style>


  <h1>hello {{nombre}}</h1> 
  
           <label class="col-sm-0 col-form-label">Nombres:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" value="{{nombre}}" required="">
            

  