{{#if success_msg}}
<div class="alert alert-success">
   {{success_msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                     </span>
                  </div>

{{/if}}


{{#each success}}
 <div class="alert alert-success">
{{textx}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                    </span>
                  </div>
{{/each}}