
<body class="off-canvas-sidebar"> 
 <nav class="navbar navbar-expand-lg navbar-transparent text-white" id="navigation-example">
        <div class="container">
            <div class="logo">
                <a href="http://coopgeneratioenlinea.com/" class="simple-text logo-normal" style="align-content:center">
                    <img src="/img/logov1.png" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item  active ">
                        <a href="/Account/Login" class="nav-link">
                            <i class="material-icons">fingerprint</i> Pagina de acceso
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/buscador" class="nav-link">
                            <i class="material-icons">person_add</i> Buscar Solicitudes
                        </a>
                    </li>
                </ul>
          </div>
            </div>
        </div>
    </nav>

